// Returns a random number between range
random(a,b)
  return math(math(0, 'random')*(b - a + 1) + a, 'floor')



// Returns random color from colors_array
randomColor()
	res = colors_array[random(0, 7)]
	return res[1]

