gradient_stripes(value, grad_size)
	background none
	background-image linear-gradient(top left, rgba(value, .15) 25%, transparent 25%, transparent 50%, rgba(value, .15) 50%, rgba(value, .15) 75%, transparent 75%, transparent)
	background-size grad_size grad_size