.layer
	absolute top left
	z-index 1
	display block
	margin 0
	padding 0
	border none
	background none
	overflow hidden
	clearfix()

.region
	margin 0
	padding 0
	outline none
	background none
	overflow hidden

body
	@extend .layer
	bottom 0
	right 0
	z-index 0
	perspective 1000
	transform-style unquote('preserve-3d')
	background-color darken(theme_base, 5%)


.app-main
	@extend .layer
	right 0
	bottom 0
	z-index 10
	clearfix()
	transform-origin center center
	transition all .3s ease-in-out
	background-color theme_base


.app-content
	@extend .layer
	top header_height
	bottom 0
	right 0
	z-index 100
	padding-top 40px
	overflow-y auto
	background-color theme_base
	transition all .2s ease-in-out
	/*background-image url('../img/grey.png')
	background-repeat repeat
	background-position top left*/

.loader
	@extend .layer
	top 60px
	bottom 0
	z-index 500
	overflow hidden
	background-color rgba(#fff, 0.8)