.pull-left
  nav.header-nav.text-center
    span.navigate-backward
      i.fa.fa-fw.fa-angle-left
    span.navigate-forward
      i.fa.fa-fw.fa-angle-right

.pull-left
  .btn-group.btn-group-header
    button.btn.btn-default.do-togglesidebar(type='button')
      i.fa.fa-fw.fa-bars
    button.btn.btn-default(type='button')
      i.fa.fa-fw.fa-adjust
    button.btn.btn-default(type='button')
      i.fa.fa-fw.fa-pencil

.pull-right.header-title
  p #{title}

.pull-right
  aside.header-settings
    window-controls