.n-title #{title}
.clearfix
  .pull-left
    .n-time_ago #{time_ago}
  .pull-right
    .n-comments
      i.fa.fa-comments
      | &nbsp; #{comments_count}
    .n-points
      i.fa.fa-star
        | &nbsp; #{points}