

.dropdown-menu
	border-radius 2px
	background-colot theme_widget
	border 1px theme_border solid
	theme-box-shadow()
	> li > a
		color theme_font
		&:hover
			background-color rgba(#000, 0.1)
			color lighten(theme_font, 20%)