.progress
	theme-inset-box-shadow()
	background-color theme_widget
	border-color theme_border
	border 1px theme_border solid
	height 8px
	border-radius 0
	overflow initial

	.progress-info
		display block
		float left
		margin-top -50px
		width 100%
		font-family baseFontThin
		font-size 32px
		text-align center

	.progress-bar
		display block
		float none
		box-shadow none
		background-color color_base