.tooltip-inner
	padding  5px 12px
	border-radius 0
	font-family baseFontSemibold
	font-size 12px

.tooltip.in
	opacity 1


// Tooltips
.tooltip-inner
	background-color rgba(color_base, 0.8)
	border-color rgba(color_base, 0.9)
	color #FFF

.tooltip.top
	.tooltip-arrow
		border-top-color rgba(color_base, 0.8)
	


.tooltip.right
	.tooltip-arrow
		border-right-color rgba(color_base, 0.8)


.tooltip.left
	.tooltip-arrow
		border-left-color rgba(color_base, 0.8)


.tooltip.bottom
	.tooltip-arrow
		border-bottom-color rgba(color_base, 0.8)
	
